<html>
<head>
    <title>bbangtime.gg</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <input type="text" id="summoner_id" size="20">
    <button onclick="btnOnClick()">send</button>
    <ul id="msg"></ul>
</body>
</html>
<script>
    const url='http://localhost:<%= port %>';
    const socket=io.connect(url, {
        path: '/socket.io'
    });

    socket.on('reply', (data) => {
        document.getElementById('msg').append(data);
    });

    function btnOnClick(){
        const summoner=document.getElementById('summoner_id').value;

        socket.emit('summoner', summoner);
    }
</script>