<html>
<head>
    <title>bbangtime.gg</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <input type="text" id="summoner_id" size="20">
    <button onclick="btnOnClick()">send</button>
    <li id="msg"></li>
</body>
</html>
<script>
    let interval, summoner;
    const url='http://<%= ip %>:<%= port %>';
    const socket=io.connect(url, {
        path: '/socket.io'
    });

    socket.on('reply', (data) => {
        /*
        const node = document.createElement('li');
        const textnode = document.createTextNode(data);
        node.appendChild(textnode);
        document.getElementById('msg').appendChild(node);
        */
        if(data==='게임 중입니다.'){
            clearInterval(interval);
            alert('게임 시작!');
        }
    });

    function btnOnClick(){
        summoner=document.getElementById('summoner_id').value;

        interval = setInterval(() => {
            socket.emit('summoner', summoner);
        }, 3000);
    }
</script>